In [1]:
#1- Discuss string slicing and provide examples?


#Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.
#How String slicing in Python works:-
#2 methods of string slicing, one using the in-build slice() method and another using the [:] array slice.
#String slicing in Python is about obtaining a sub-string from the given string by slicing it respectively from start to end.

#Using the List/array slicing  [ :: ]  method:- this method commenly using in the python programming 
#extract syntax=[start:end:step]

In [2]:
string1= "my name is muuhammed fijas"
string1[0:6]

'my nam'

In [3]:
string1[5:10:2]

'm s'

In [4]:
string1[::-1]

'sajif demmahuum si eman ym'

In [5]:
#2- Explain the key features of lists in Python?



#In Python, the sequence of various data types is stored in a list. A list is a collection of different kinds of values or items.
#Since Python lists are mutable, we can change their elements after forming. The comma (,) and the square brackets [enclose the List's items] serve as separators
#eg:-[1,2,"fijas","pwskill"]
#main features of the list in pythom
##1The lists are in order.
##2The list element can be accessed via the index.
##3The mutable type of List is
##4The rundowns are changeable sorts.
##%The number of various elements can be stored in a list.

In [6]:
s=[1,22,3.4,"(2+4k)","fijas"]
s

[1, 22, 3.4, '(2+4k)', 'fijas']

In [7]:
[50]*10

[50, 50, 50, 50, 50, 50, 50, 50, 50, 50]

In [8]:
my_list=["app","bann","orange"]
brother_list=["book","potato"]
my_list.extend (brother_list)

In [9]:
my_list

['app', 'bann', 'orange', 'book', 'potato']

In [10]:
list(range(10))*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
#3- Describe how to access, modify, and delete elements on a list with examples?

In [12]:
#deep copy and shallow copy
#>>shallow copy
a=my_list

In [13]:
a

['app', 'bann', 'orange', 'book', 'potato']

In [14]:
a[4]

'potato'

In [15]:
a[4]="elephant"

In [16]:
a

['app', 'bann', 'orange', 'book', 'elephant']

In [17]:
#>>deep copy
my_list=["app","bann","orange",33,55,1,1.2]

In [18]:
p=my_list.copy()

In [19]:
p

['app', 'bann', 'orange', 33, 55, 1, 1.2]

In [20]:
#sorting list
my_list=["app","bann","orange","cat","car"]

In [21]:
my_list.sort()

In [22]:
my_list

['app', 'bann', 'car', 'cat', 'orange']

In [23]:
#index\
my_list.index("car")

2

In [24]:
len(my_list)

5

In [25]:
my_list.count("ban")

0

In [26]:
#remove
my_list.remove("car")

In [27]:
my_list

['app', 'bann', 'cat', 'orange']

In [28]:
my_list.clear()

In [29]:
my_list

[]

In [30]:
#list compherehension >> readable ,concise code
price=[10,11,12,13,14,]

In [31]:
power_of_price=[]
for i in price :
    power_of_price.append(i**2)

In [32]:
power_of_price

[100, 121, 144, 169, 196]

In [33]:
#0r
[price**2 for price in price]

[100, 121, 144, 169, 196]

In [34]:
#conditinal list comprehension
email_address=["fijas@gmail.com","fijas@yahoo.com","fijad@yahoo.com","mhdfijas@yahoo.com"]

In [35]:
[email for email in email_address if email.endswith("@yahoo.com")]

['fijas@yahoo.com', 'fijad@yahoo.com', 'mhdfijas@yahoo.com']

In [36]:
email_address.pop()

'mhdfijas@yahoo.com'

In [37]:
email_address

['fijas@gmail.com', 'fijas@yahoo.com', 'fijad@yahoo.com']

In [41]:
#4- Compare and contrast tuples and lists with examples?



#Lists and Tuples in Python are two classes of Python Data Structures. 
#The list structure is dynamic, and readily changed whereas the tuple structure is static and cannot be changed.
#This means that the tuple is generally faster than the list. Lists are denoted by square brackets and tuples are denoted with parenthesis.

#1-LIST
#Lists are mutable
#The list is better for performing operations, such as insertion and deletion.
#Lists consume more memory
#Lists have several built-in methods
#[variable,variable]

#TUPLE
#Tuples are immutable
#he implication of iterations is comparatively Faster
#A Tuple data type is appropriate for accessing the elements
#Tuple consumes less memory as compared to the list
#(variable,variable)

In [47]:
l=[2,5,7,"fijas"] #>>list

In [48]:
s

[2, 5, 7, 'fijas']

In [52]:
s[2]="ff"

In [53]:
s

[2, 5, 'ff', 'fijas']

In [49]:
t=(1,65,6,4,4,3,"fayiz")#>> tuples

In [50]:
t

(1, 65, 6, 4, 4, 3, 'fayiz')

In [51]:
t[2]="fff"

TypeError: 'tuple' object does not support item assignment

In [54]:
t[1:4:2]

(65, 4)

In [55]:
for i in t:
    print(i,type(i))

1 <class 'int'>
65 <class 'int'>
6 <class 'int'>
4 <class 'int'>
4 <class 'int'>
3 <class 'int'>
fayiz <class 'str'>

In [56]:
t.count(4)

2

In [57]:
#5- Describe the key features of sets and provide examples of their use?


#Sets are a well-defined collection of objects. Objects that a set contains are called the elements of the set.
#sets are unordered and unique collection of elements
#doesn't allow duplicate element,indexing will not work
#sets are mutable data structure has astable hash values like tuples
#We can also consider sets as collections of elements that have a common feature. For example, 
#the collection of even numbers is called the set of even numbers.
#there are the different type of available like Singleton Set Empty Set,Finite Set,Infinite Set....etc
#sets are object is not subscriptable

In [58]:
s={1,2,3,4,1,2,3,4,"ajay","fijas","ajay"}

In [59]:
s

{1, 2, 3, 4, 'ajay', 'fijas'}

In [61]:
t=set(s)

In [62]:
t

{1, 3, 4, 6, 65, 'fayiz'}

In [63]:
s[1]

TypeError: 'set' object is not subscriptable

In [64]:
#immutable data structure has astable hash values like tuples
s={11,2,3,1,2,3,{1,2,}}

TypeError: unhashable type: 'set'

In [77]:
s={11,2,3,1,2,3,(1,2,)}

In [79]:
s #>>tuples can accessable in a sets

{(1, 2), 1, 11, 2, 3}

In [65]:
for i in s:
    print(i)

65
1
3
4
6
fayiz

In [ ]:
s={11,2,3,1,2,3,{1,2,}}

In [66]:
#set is mutable 
s.add(100)

In [67]:
s

{1, 100, 3, 4, 6, 65, 'fayiz'}

In [69]:
s.add("ajay")

In [ ]:
s.update(["ajay"])

In [70]:
s

{1, 100, 3, 4, 6, 65, 'ajay', 'fayiz'}

In [71]:
s.update(["ajayyyy"])

In [72]:
s

{1, 100, 3, 4, 6, 65, 'ajay', 'ajayyyy', 'fayiz'}

In [73]:
s.pop()#not complusory that it will add to ast of teh elemnent,and that it willl remove from the last it remove the variables from the randomely

65

In [74]:
s.clear()

In [75]:
s

set()

In [76]:
s={11,2,3,1,2,3,(1,2,)}

In [80]:
del s

In [81]:
s

NameError: name 's' is not defined

In [ ]:
# set operations
#union>>combines elements from two sets exclusng duplicate
#intersection >> only common elements btw sets
#difference>>return the elements that is present in first set and not in second
#symmetric difference>> return elements that are present in either of sets but not in b

In [86]:
s1={1,2,3,4}
s2={"mul","sub","add",1,2,3}

In [87]:
s1|s2 #>>union - combine the elements

{1, 2, 3, 4, 'add', 'mul', 'sub'}

In [89]:
s1&s2 #>>intersection

{1, 2, 3}

In [90]:
s1-s2 #>>

{4}

In [91]:
s1^s2 #>#symmetric difference .. return all the elements other than common elements

{4, 'add', 'mul', 'sub'}

In [92]:
#forz sets>>immutable version of set , cannot be added or removed any new elements

NameError: name 's' is not defined

In [103]:
mys=frozenset([11,2,3,1,2,3,1,2,])

In [104]:
mys

frozenset({1, 2, 3, 11})

In [105]:
mys.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [106]:
mys.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [1]:
#Disccss the use cases of tuples and sets in Python programming ?


#when you don't want to modify the data which you have applied in the programing you can use tuples type data structre 
#tuples are immutable in the case
#if you take a list employers name for company and uyou din't want to chance any further changers to the list
employers=("rajeesh","fijas","abu","sibu","sureesh","chris")

In [3]:
employers

('rajeesh', 'fijas', 'abu', 'sibu', 'sureesh', 'chris')

In [5]:
employers[1]="sreesh"

TypeError: 'tuple' object does not support item assignment

In [6]:
for i in employers:
    print(i,type(i))

rajeesh <class 'str'>
fijas <class 'str'>
abu <class 'str'>
sibu <class 'str'>
sureesh <class 'str'>
chris <class 'str'>

In [7]:
#if use want to  changes the variables or names in the list of employers by adding and remove over the periods now you can use the sets as the method to acess the list or make the employers list
employers1={"rajeesh","fijas","abu","sibu","sureesh","chris"}

In [8]:
employers1

{'abu', 'chris', 'fijas', 'rajeesh', 'sibu', 'sureesh'}

In [9]:
#doesn't allow duplicate element,indexing will not work so it would help you get the avoid from mistakes of the double entry of the address or name

In [11]:
employers1.add("modi")

In [12]:
employers1

{'abu', 'chris', 'fijas', 'modi', 'rajeesh', 'sibu', 'sureesh'}

In [20]:
employers1.update(["sooman"])

In [22]:
employers1

{'[',
 ']',
 'a',
 'abu',
 'chris',
 'fijas',
 'm',
 'modi',
 'n',
 'o',
 'rajeesh',
 's',
 'sibu',
 'sooman',
 'sureesh'}

In [24]:
#7- Describe how to add, modify, and delete items in a dictionary with examples?


##distionary is data structure that stores data as key value pair 
#kers are immutable and unique
#note: disctionary are unordered , but from python 3.7 version , disctionary retain the order of insertion
#Python Dictionary Syntax
#dict_var = {key1 : value1, key2 : value2, â€¦..}
##>> you can access the variables in the dictionary method but th using the key only
#rule of the difine key
d={1:"abc"}# integrals as the key
d={1.2:"abc"} #floating words as the key word
d={True:"any value"} #boolian as the key word
d={#:1213} #you can not hAVE# as the key word
#distinary has been sed for real life case as the often with make the details books of the persons with the specifiction of address

In [25]:
d={"name":"fijas","num":7994918646,"email":"fijadmuhammed@gamil.com"}

In [26]:
d

{'name': 'fijas', 'num': 7994918646, 'email': 'fijadmuhammed@gamil.com'}

In [29]:
d["name"]

'fijas'

In [30]:
d["email"]

'fijadmuhammed@gamil.com'

In [31]:
#if you want to modify the dictionary deatils
d

{'name': 'fijas', 'num': 7994918646, 'email': 'fijadmuhammed@gamil.com'}

In [32]:
d["name"]="sibu"

In [33]:
d

{'name': 'sibu', 'num': 7994918646, 'email': 'fijadmuhammed@gamil.com'}

In [34]:
d["email"]="sibu@gmail.com"

In [35]:
d

{'name': 'sibu', 'num': 7994918646, 'email': 'sibu@gmail.com'}

In [36]:
#if you want to add other details also with this list
d["address"]="kerala"

In [37]:
d

{'name': 'sibu',
 'num': 7994918646,
 'email': 'sibu@gmail.com',
 'address': 'kerala'}

In [38]:
#now if you want to delete the item from the dictionary
del d["address"]

In [39]:
d

{'name': 'sibu', 'num': 7994918646, 'email': 'sibu@gmail.com'}

In [40]:
#7- Discuss the importance of dictionary keys being immutable and provide examples


#In a dictionary, the key part must be immutable. This means that once a key is created, it cannot be changed.
#Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys.
#If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary. For example,
#in the following dictionary: d = {"name": "fijas", "age": 20} "Name" and "age" are the keys (immutable), and "fijas" and "20" are the values (mutable).

In [41]:
#in current format fo the dictionary would make possible to the change of the keys in the list

In [42]:
d

{'name': 'sibu', 'num': 7994918646, 'email': 'sibu@gmail.com'}

In [43]:
#her ethe name ,num,email are the keys amd sibu,7994918646,sibu@gmsil.com are the values
#as of now it is possible to changes teh keys in dictionary so it would further update pr changes the details in the dictinary so ,
#it violate the credibility of the details can and any body the change the keys would mislead from getting actual details

In [45]:
d["name"]="sugu"

In [46]:
d

{'name': 'sugu', 'num': 7994918646, 'email': 'sibu@gmail.com'}

In [ ]:
#so it is important to make keys and values are immutable as the old version of the dictionary for sake of the credibility of the data adn infromation